
/*Importing fonts*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

*{
    margin: 0;/*Sets the thickness of the margin*/
    box-sizing: border-box;/*specifies to account for any border*/
}
html{
    font-size: 11px;/*sets font size*/
    font-family: 'Ubuntu', sans-serif;/*changes to cool font*/
}
a{
    text-decoration: none;/*make sure 0 doesnt have underlines and such*/
}


/*menu section */
#menu {
    position: fixed;/*menu stays on top*/
    z-index: 3;/*makes sure it overlays on top of everything else*/
    width:100%; /*fill page width*/
    height: auto; /*automaticaly desides on height based on elemnts in #menu*/
}
#menu .menu {
    min-height: 8%; /*minimum height is 8% of page*/
    background-color: rgba(32, 32, 32, 0.9); /*color the background of the menu bar (make a little transparent)*/
}
#menu .nav-bar{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: space-between; /*makes the same space inbetween items*/
}
/*all of whats below is only for phone and tablet/ipad*/
#menu .nav-list ul{
    position: absolute; /*positions relative to items around or page scroll*/
    background-color: rgba(32, 32, 32);/*changes background color*/
    width:100%;
    height:100vh;/*makes height of whole page*/
    left:100%; /* removes menu from screen later will change to 0% to show menu */
    display:flex;
    flex-direction: column;/*instead of rows will be cols*/
    align-items: center;/*puts it in center*/
    z-index: 1;/*makes sure on top*/
    transition: .7s ease left;/*makes animation more smooth*/
    list-style-type: none; /*removes bullet point*/
}
#menu .nav-list ul.active{
    left:0; /*puts menu back on screen for phone*/
}
#menu .nav-list ul a{
    font-size: 2.4rem;
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
    padding: 22px;
    display: block;
}
/*adds circle*/
#menu .press {
    height: 50px;/*adjusts height and width of button to open menu*/
    width: 50px;
    border: 2px solid whitesmoke; /*makes the button*/
    border-radius: 100%; /*rounds the button to make it look better */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* makes it clickable */
    transform: scale(0.7);/*makes button smaller while keeping height and width same (to have height of bar larger then button, looks better)*/
    margin-right: 15px; /*moves it to the left a little*/
}
/*adds lines in circle*/
#menu .press .bar {
    height: 3px; 
    width: 25px;
    position: relative;
    background-color: whitesmoke;
}
/*specifies how to add more lines*/
#menu .press .bar::after,
#menu .press .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
}
/*adds one line before one line after*/
#menu .press .bar::after {
    top:8px;
}
#menu .press .bar::before {
    bottom:8px;
}
#menu .nav-list ul li:hover a {
    color: lightskyblue;
}

.company h1{
    margin:12px;
    padding-left: 10px;
    font-size: 3rem;
    color: white;
}

/*resize for different size devices*/
/*tablet/ipad*/
@media only screen and (min-width:768px){
    .cta{
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title {
        font-size: 6rem;
    }

    /* intro */
    #intro h1{
        font-size: 7.5rem;
    }

    /* about us */
    #aboutUs .aboutUs-bottom .aboutUs-section{
        flex-basis: 45%;
        margin: 2%;
    }

    /* Contact Us */
    #contact .contact {
        flex-direction: column;
        padding: 100px,0;
        align-items: center;
        justify-content: center;
        min-height: 20vh;
    }
    #contact .contact-sections {
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 60px;
        margin:0;
    }
    #contact .contact-section {
        width: 30%;
        margin: 0;
        padding: 10px;
        flex-direction: row;
    }
    #contact .contact-section .icon{
        height: 80px;
        width: 80px;
    }
    #contact .contact-section .icon img {
        object-fit: contain; /*adjusts object size to fit*/
    }
    #contact .contact-section .contacts {
        width: 100%;
        text-align: center;
        padding-left: 20px;
    }

}

/*below it changes to fit different sizes of screens*/
/*desktop*/
@media only screen and (min-width: 1200px) 
{
    #menu .press
    {
        display: none;
    }
    #menu .nav-list ul
    {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #menu .nav-list ul li
    {
        display: inline-block;
    }
    #menu .nav-list ul li a 
    {
        font-size: 1.7rem;
    }

    #aboutUs .aboutUs-bottom .aboutUs-section 
    {
        flex-basis: 20%;
        margin: 1.5;
        height: 350px;
        max-height: 350px;
    }

}