<!--By: Nikhail Kazak and Tal Aizikov-->
<!--Start Date: 9/19/2020-->
<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="utf-8">
        <!--Sets the banner in the chrome/web browser tab-->
        <title>Stock-Aholics</title>
        <!--Links the relative file path(generic path not associated with any pc, just the folder) to this html doc -->
        <link rel ="stylesheet" href="StockBrokerGUIPart1.css">
    </head>
        <section id="menu">
            <div class="menu container">
                <div class="nav-bar"> 
                    <div class="company"> <!--Company class will help style text like a nice title-->
                        <a href="#intro"><h1>Stock-Aholics</h1></a> <!-- The span colors one letter different--> 
                    </div>
                    <div class="nav-list">
                        <div class="press"> <!--botton to press when on phone will open menu-->
                            <div class="bar"> <!--line that makes button look better-->
                            </div>
                        </div>
                        <ul>
                            <!--all the places to navigate to-->
                            <li><a href = "#intro">Home</a></li> 
                            <li><a href = "/NotMain/allStocks">Stocks</a></li>
                            <li><a href = "#aboutUs">About Us</a></li>
                            <li><a href = "#contact">Contact</a></li>
                            <li><a href = "/NotMain/Login">Sign-In</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- Intro section: to catch the eye-->
        <section id= "intro">
            <div class="intro container">
                <div>
                    <h1>Stock-Aholics</h1> <!--title and subtitle-->
                    <h2>A World Of Stocks</h2>
                    <a href="/NotMain/Login" type="button" class="cta"> Sign Up</a> <!--button for logging in--> 
                </div>
            </div>
        </section>
        <!--About us Section-->
        <section id="aboutUs">
            <div class="aboutUs container">
                <div class="aboutUs-top">
                    <h1 class="section-title">About <span>Us</span></h1> <!--span changes color of word-->
                    <p>A long description is a way to provide long alternative text for non-text elements, 
                        such as images. ... Examples of suitable use of long description are charts, graphs, 
                        maps, infographics, and other complex images. 
                        Like alternative text, long description should be descriptive and meaningful</p>
                </div>
                <div class="aboutUs-bottom">
                    <!--splits area into section each having its own icon and area-->
                    <div class="aboutUs-section">
                        <div class="icon"><img src="https://img.icons8.com/clouds/100/000000/buy.png"/></div> <!--icon to make it look nices-->
                        <h2>User Profile</h2>
                        <p>You can seeYou can seeYou can seeYou can seeYou can seeYou can seeYou can see
                            You can seeYou can seeYou can seeYou can seeYou can seeYou can seey
                        </p>
                    </div>
                        <div class="aboutUs-section">
                            <div class="icon"><img src="https://img.icons8.com/clouds/100/000000/buy.png"/></div>
                            <h2>Buy Stocks</h2>
                            <p>You can buyYou can buyYou can buyYou can buyYou can buyYou can buyYou can buy
                                You can buyYou can buyYou can buyYou can buyYouYou can buy
                            </p>
                        </div>
                        <div class="aboutUs-section">
                            <div class="icon"><img src="https://img.icons8.com/clouds/100/000000/buy.png"/></div>
                            <h2>Sell Stocks</h2>
                            <p>You Can SellYou Can SellYou Can SellYou Can Sell
                                You Can SellYou Can SellYou Can SellYou Can Sell
                                You Can Sellan SellYou Can SellYou Can SellYou Can Sell
                                You Can Sel</p>
                        </div>
                        <div class="aboutUs-section">
                            <div class="icon"><img src="https://img.icons8.com/clouds/100/000000/buy.png"/></div>
                            <h2>Buy Stocks</h2>
                            <p>You can buyYou can buyYou can buyYou can buyYou can buyYou can buyYou can buy
                                You can buyYou can buyYou can buyYou can buyYouYou can buy
                            </p>
                        </div>
                    </div>
            </div>
        </section>

        <!--Contact section-->
        <section id="contact">
            <div class="contact container">
                <div>
                    <h1 class= "section-title">Contact <span>Info</span></h1> <!--span changes color-->
                </div>
                <div class="contact-sections">
                    <div class="contact-section">
                        <!--spliting into sections again-->
                        <div class="icon"><img src="https://img.icons8.com/ultraviolet/40/000000/phone.png"/></div>
                        <div class="contacts">
                            <h1>phone</h1>
                            <h2>123 521 1234</h2>
                            <h2>123 521 1234</h2>
                        </div>
                    </div>
                    <div class="contact-section">
                        <div class="icon"><img src="https://img.icons8.com/ultraviolet/40/000000/email-open.png"/></div>
                        <div class="contacts">
                            <h1>Email</h1>
                            <h2>email@gmail</h2>
                            <h2>email.con</h2>
                        </div>
                    </div>
                    <div class="contact-section">
                        <div class="icon"><img src="https://img.icons8.com/ultraviolet/40/000000/ip-address.png"/></div>
                        <div class="contacts">
                            <h1>Address</h1>
                            <h2>60 Ottawa St</h2>
                            <h2>Ottawa, On, Canada</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Footer section-->
        <section id = "footer">
            <div class="footer container">
                <div class="company"><h1><span>S</span>tock-<span>A</span>holics</h1></div>
                <h2>Finaly Trading is Easy</h2>
                <div class="reachus">
                    <!--spliting to sections -->
                    <div class="reachusSection">
                        <a href="#"><img src="https://img.icons8.com/dotty/80/000000/facebook-new.png"/></a>
                    </div>
                    <div class="reachusSection">
                        <a href="#"><img src="https://img.icons8.com/dotty/80/000000/instagram-new.png"/></a>
                    </div>
                    <div class="reachusSection">
                        <a href="#"><img src="https://img.icons8.com/dotty/80/000000/twitter-circled.png"/></a>
                    </div>
                </div>
                <p>Copyright © 2020 Tal and Nikhail. All right reserved partly</p>
            </div>
        </section>
        <!--importing java file-->
        <!--This java file contains everything needed to make menu interactive
        HAS TO BE AT END OF FILE to work, because it is looking for clicks-->
        <script src="menu.js"></script>
    </body>
</html>